<h1>Help</h1>
<p>
  Get help on MyBank at the
  <a href="http://fast-mountain-75338.herokuapp.com/help">MyBank help page</a>.
  To get help on this MyBank app, see the
  <a href="http://fast-mountain-75338.herokuapp.com/help"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>