<div class="center jumbotron">
	<h1>MyBank App</h1>

	<h2>
	  This is the home page for the
	  <a href="http://fast-mountain-75338.herokuapp.com">MyBank</a>
	  sample application.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "MyBank logo"),					'http://fast-mountain-75338.herokuapp.com' %>