<footer class="footer">
  <small>
    The <a href="">MyBank</a>
    by <a href="">Innocent</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>